{{template "head"}}
<div class="container">
  {{ range $i, $q := .quizzes }}
    <div class="quiz-container">
      <div class="quiz-container__title">
        <h2>
          問題{{$i}}
        </h2>
        <h3>
          {{ .Question }}
        </h3>
      </div>
      <div class="quiz-container__explanation">
        答え：{{ .Explanation }}
      </div>
      <div class="quiz-container__choices">
        {{ range .Choices }}
        <div class="quiz-container__choices--choice">
          {{ .Text }}
        </div>
        {{ end }}
      </div>
    </div>
  {{end}}
</div>
<a href="/new">問題投稿</a>
{{template "foot"}}
