{{template "head"}}
<h2>追加</h2>
<form method="post" action="/new">
  <p>問題<input type="text" name="quiz" size="30" placeholder="入力してください"></p>
  <p>答え<input type="text" name="answer" size="30" placeholder="入力してください"></p>
  <!-- <p>状態
    <select name="status">
      <option value="未実行">未実行</option>
      <option value="実行中">実行中</option>
      <option value="終了">終了</option>
    </select>
  </p> -->
  <p>選択肢<input type="text" name="text" size="30"></p>
  <p>選択肢<input type="number" name="correct" size="30"></p>
  <p><input type="submit" value="Send"></p>
</form>

<ul>
  {{ range .quizzes }}
  <li>問題：{{ .Question }}、答え：{{ .Answer }}
    <label><a href="/detail/{{.ID}}">編集</a></label>
    <label><a href="/delete_check/{{.ID}}">削除</a></label>
  </li>
  {{end}}
</ul>
{{template "foot"}}